In [1]:
print('hello')

hello

In [ ]:
'''
Input must be in the following format:

Column 1: Date/Time (submission date, year, etc.)
Column 2: Group (state, county, demographic, etc.)
'''

In [3]:
import pandas as pd
df = pd.read_csv('./covid-data.csv')

In [10]:
sort_col = df.columns[0]

In [15]:
df[sort_col] = pd.to_datetime(df[sort_col])
df.sort_values(sort_col, inplace=True)
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
20024,2020-01-22,SC,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Not agree
26053,2020-01-22,AL,0,0.0,0.0,0,0.0,0,0.0,0.0,0,0.0,01/24/2020 12:00:00 AM,Agree,Agree
27107,2020-01-22,MS,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
3065,2020-01-22,TX,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
24864,2020-01-22,VT,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,2022-01-25,PR,448538,254785.0,193753.0,4229,1997.0,3754,3132.0,622.0,50,17.0,01/26/2022 03:12:02 PM,Agree,Agree
1904,2022-01-25,PW,901,NaN,NaN,141,0.0,0,NaN,NaN,0,0.0,01/26/2022 03:12:02 PM,NaN,NaN
34088,2022-01-25,OR,597172,597172.0,0.0,6902,0.0,5994,5994.0,0.0,41,0.0,01/26/2022 03:12:02 PM,Agree,Agree
37201,2022-01-25,MP,4440,4440.0,0.0,175,0.0,22,22.0,0.0,0,0.0,01/26/2022 03:12:02 PM,Agree,Agree
10042,2022-01-25,NC,2303196,1945407.0,357789.0,4582,1132.0,20335,17874.0,2461.0,1,1.0,01/26/2022 03:12:02 PM,Agree,Agree

In [2]:
df['submission_date'] = pd.to_datetime(df['submission_date'])
df = df.sort_values(['state', 'submission_date'])
df

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2021-03-11,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,2021-02-12,UT,359641,359641.0,0.0,1060,0.0,1785,1729.0,56.0,11,2.0,02/13/2021 02:50:08 PM,Agree,Agree
2,2021-03-01,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,03/01/2021 12:00:00 AM,Agree,Agree
3,2020-02-04,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
4,2020-08-22,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,08/23/2020 02:15:28 PM,Not agree,Not agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44095,2020-05-28,IA,18585,NaN,NaN,228,0.0,506,NaN,NaN,14,0.0,05/29/2020 02:19:55 PM,Not agree,Not agree
44096,2020-06-07,SD,5438,NaN,NaN,71,0.0,65,64.0,1.0,0,1.0,06/08/2020 02:55:08 PM,NaN,Agree
44097,2021-04-30,SD,122660,NaN,NaN,128,17.0,1967,1601.0,366.0,5,1.0,05/01/2021 01:43:22 PM,NaN,Agree
44098,2021-03-10,SD,113962,NaN,NaN,209,37.0,1904,1546.0,358.0,3,0.0,03/11/2021 03:36:21 PM,NaN,Agree
44099,2021-05-27,OH,1100312,921199.0,179113.0,732,196.0,19753,19753.0,0.0,0,0.0,05/28/2021 01:29:21 PM,Agree,Agree

In [ ]:
print(df.columns[0])

In [4]:
state = 'CA'

df_ca = df[df['state'] == state]

df_ca['tot_cases_diff'] = df_ca['tot_cases'].diff()
df_ca

C:\Users\sfitc\AppData\Local\Temp\ipykernel_71148\3690026505.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ca['tot_cases_diff'] = df_ca['tot_cases'].diff()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,tot_cases_diff
25559,2020-01-22,CA,0,0.0,0.0,0,0.0,0,NaN,NaN,0,0.0,01/24/2020 12:00:00 AM,Agree,Not agree,NaN
12887,2020-01-23,CA,0,0.0,0.0,0,0.0,0,NaN,NaN,0,0.0,01/25/2020 12:00:00 AM,Agree,Not agree,0.0
17546,2020-01-24,CA,0,0.0,0.0,0,0.0,0,NaN,NaN,0,0.0,01/26/2020 12:00:00 AM,Agree,Not agree,0.0
15811,2020-01-25,CA,0,0.0,0.0,0,0.0,0,NaN,NaN,0,0.0,01/27/2020 12:00:00 AM,Agree,Not agree,0.0
23711,2020-01-26,CA,0,0.0,0.0,0,0.0,0,NaN,NaN,0,0.0,01/28/2020 12:00:00 AM,Agree,Not agree,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15277,2022-01-21,CA,7570538,7123571.0,446967.0,125861,0.0,77722,NaN,NaN,201,0.0,01/22/2022 02:22:36 PM,Agree,Not agree,125861.0
12157,2022-01-22,CA,7570538,7123571.0,446967.0,0,0.0,77722,NaN,NaN,0,0.0,01/24/2022 02:28:34 PM,Agree,Not agree,0.0
22672,2022-01-23,CA,7570538,7123571.0,446967.0,0,0.0,77722,NaN,NaN,0,0.0,01/24/2022 03:59:16 PM,Agree,Not agree,0.0
13594,2022-01-24,CA,7866610,7419643.0,446967.0,296072,0.0,78101,NaN,NaN,379,0.0,01/25/2022 02:33:43 PM,Agree,Not agree,296072.0
9524,2022-01-25,CA,7929436,7482469.0,446967.0,62826,0.0,78118,NaN,NaN,17,0.0,01/26/2022 03:12:02 PM,Agree,Not agree,62826.0

In [5]:
df_ca['tot_cases_diff'].mean()

10803.046321525886

In [6]:
df_ca['new_case_diff'] = df_ca.iloc['new_case'].diff()
print(df_ca['new_case_diff'].mean())
df_ca

TypeError: Cannot index by location index with a non-integer key

In [ ]:
mean_diff = df_ca['new_case_diff'].mean()

sentence = 'The average new weekly cases in {0} was {1} from {2} to {3}.'.format(
    state, 
    round(mean_diff, 2), 
    df_ca['submission_date'].iloc[0].date(), 
    df_ca['submission_date'].iloc[-1].date())

print(sentence)

The average new weekly cases in CA was 85.59 from 2020-01-22 to 2022-01-25.

In [ ]:
percent_change_dict = {}
# percent_change_df = df.filter(['state'], axis=1)
for state in data:
    cases_last_week = whatever
    cases_this_week = whatever
    percent_change = (cases_this_week - cases_last_week) / cases_last_week
    percent_change_dict[state] = percent_change
df = dataframe_from_records(percent_change_dict)
#once dict is populated, we can find the closest state to our current state
df_sort = df.iloc[(df['num']-our_state).abs().argsort()[:2]]
df_sort.index.tolist()

In [50]:
df['submission_date'] = pd.to_datetime(df['submission_date']) #done in app.py
df.sort_values('submission_date')

col = 'new_case'

new_df = pd.DataFrame(columns=('state', 'prev_week', 'cur_week', 'percent_change'))

for state in df['state'].unique():
    entry = []
    entry.append(state) # state
    entry.append(df[df['state'] == state].iloc[-14:-8][col].mean()) # prev_week
    entry.append(df[df['state'] == state].iloc[-7:-1][col].mean()) # cur_week
    if entry[1] == 0 and entry[2] == 0:
        entry.append(0) # 0 cases no change
    elif entry[1] == 0:
        entry.append('') # 0 last week
    else:
        entry.append((entry[2] - entry[1]) / entry[1] * 100) # percent_change
    new_df.loc[len(new_df.index)] = entry
    
state = 'WA'
state_percent_change = new_df[new_df['state'] == state]['percent_change'].iloc[0]
df_other_states = new_df[new_df['state'] != state]

selection = (df_other_states['percent_change'] - state_percent_change).abs().argsort()

df_other_states.iloc[selection]

   state      prev_week       cur_week  percent_change
59    WY     619.000000    1220.000000       97.092084
30    MT     963.833333    1851.000000       92.045651
36    NM    2940.666667    5404.000000       83.767853
42    OR    4531.500000    8142.500000       79.686638
19    KS    6942.333333   12400.333333       78.619100
16    ID    1598.666667    2774.500000       73.550876
25    MI   10110.000000   17493.000000       73.026706
0     AK    1617.166667    3641.166667      125.157168
52    UT    5723.000000    9623.833333       68.160638
13    GU     360.333333     599.166667       66.281221
49    SD    1322.166667    2190.166667       65.649817
37    NV    3418.333333    5641.000000       65.021941
26    MN    5625.333333   13426.000000      138.670301
34    NH    1627.666667    2426.500000       49.078435
29    MS    4310.000000    6168.166667       43.112916
32    ND    1591.833333    2133.666667       34.038321
55    VT     438.666667    1171.833333      167.135258
22    MA   10112.500000   12623.666667       24.832303
27    MO    9798.166667   11646.333333       18.862372
20    KY    9978.333333   11724.666667       17.501253
24    ME     810.000000     922.000000       13.827160
12    GA   16390.166667   18653.666667       13.810110
21    LA    7780.333333    8439.500000        8.472216
58    WV    4668.500000    4921.333333        5.415730
4     AZ   19379.666667   20268.000000        4.583842
1     AL   11143.166667   11598.833333        4.089203
50    TN   17003.666667   17543.500000        3.174805
41    OK   11304.500000   11646.166667        3.022395
18    IN   13982.333333   14304.666667        2.305290
47   RMI       0.000000       0.000000        0.000000
11   FSM       0.000000       0.000000        0.000000
2     AR    9158.500000    8982.000000       -1.927171
14    HI    4043.166667    3961.666667       -2.015747
5     CA  118200.333333  113504.000000       -3.973198
15    IA    5135.000000    4834.000000       -5.861733
33    NE    4222.666667    3853.500000       -8.742501
17    IL   29020.000000   25813.000000      -11.050999
6     CO   11851.166667   10222.000000      -13.746888
51    TX   66061.166667   54794.500000      -17.054901
53    VA   15358.000000   12019.166667      -21.740027
31    NC   32572.000000   25197.166667      -22.641635
28    MP      45.500000      33.000000      -27.472527
54    VI     134.500000      96.166667      -28.500620
10    FL   45941.333333   31222.500000      -32.038324
8     DC     714.166667     473.833333      -33.652275
7     CT    6924.833333    4341.833333      -37.300537
43    PA   26321.500000   15651.000000      -40.539103
46    RI    4532.833333    2602.833333      -42.578226
40    OH   29460.666667   16192.833333      -45.035754
9     DE    3220.333333    1748.500000      -45.704378
38    NY   24085.166667   12887.500000      -46.491963
35    NJ   18573.000000    9639.000000      -48.102084
23    MD    9315.500000    4815.000000      -48.311953
57    WI   24419.666667   11679.000000      -52.173794
39   NYC   21094.333333   10081.000000      -52.209914
44    PR    7540.833333    3514.666667      -53.391535
48    SC   17496.166667    6158.500000      -64.800861
3     AS       1.166667       0.000000     -100.000000
45    PW      20.166667     101.333333      402.479339

# Other Dataset Analysis

In [1]:
import pandas as pd
df = pd.read_csv('ca_birth_data.csv')

In [2]:
df.columns

Index(['Year', 'County', 'Geography_Type', 'Strata', 'Strata_Name', 'Count',
       'Annotation_Code', 'Annotation_Desc'],
      dtype='object')

In [3]:
df['County'].unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [8]:
df_total = df[df['Strata'] != 'Total Population'].groupby('County')
df_total.info()

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'

The average number of annual births in {county} was {mean} from {year} to {year}.